body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    margin-left: 2em;
    margin-right: 2em;
}
h1{
    color: teal;
}
h2{
    color: teal;
}
label{
    float: left;
    width: 6em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
input[type="text"], input[type="email"] {
    width: 15em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}
br{
    clear: both;
}
#submit{
    margin-left: 0.5em;
}
img {
    display: block;
    margin-bottom: 1em;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
    float: none;
    width: auto;
    margin-right: 1em;
    font-weight: normal;
}
input[type="radio"], input[type="checkbox"] {
    margin-left: 0;
}

select {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

/* Survey result table */
table.survey-result {
    border-collapse: collapse;
    margin: 1em 0;
    max-width: 600px;
}

table.survey-result tr {
    border-bottom: 1px solid #ddd;
}

table.survey-result td {
    padding: 0.75em 1em;
    vertical-align: top;
}

table.survey-result td.label-col {
    width: 200px;
    background-color: #f5f5f5;
    font-weight: bold;
}

table.survey-result tr:hover {
    background-color: #f9f9f9;
}
